@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div>
<p>
    I have very little experience in web technology. Over both of my COOPs I was tasked with nearly exclusively
    backend development, but I was briefly exposed to HTML/CSS/JS in my first, and I developed a REST API and
    utilized said API on my second. I wish to learn as much as I can about web development as I can so that I am
    no longer in the dark about the subject.
</p>
<hr />
<p>
    This webpage is more "advanced" than my other pages because the style and the framework is provided by Microsoft Visual Studio
    and utilizes Bootstrap.
</p>
<hr />
<img src="~/images/DiscoveryImage.jpg" width="100%" />

<p>
    Star Trek is one of my favorite things, and thus I thought it would be appropriate to add a picture of the
    latest iteration of Star Trek as my "favorite thing" image.
</p>
</div>